<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic website using node js and express js</title>
    
</head>
<body>
    {{>navbar data=details}}
    
    {{>slider slides=slides}}

    {{>footer}}
</body>
</html>